{% extends 'myapp/base.html' %}
{% block content %}
<br><br><br>
<div class="container form-group">
  <div class="row">
    <div class="col-lg-6">
      <h1>ADD A NEW ENTRY</h1>
    </div>
    <div class="col-lg-6">
      <button onclick="window.location='{%url 'calendar' %}'" type="button" class="btn btn-success">GO BACK</button>
    </div>

  </div>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{ field.errors }}
    <label>{{ field.label }}</label>
    <input name="{{field.name}}" class="form-control" />
    {% endfor %}
    <br> <button type="submit" class="btn btn-success">SUBMIT</button>
  </form>
</div>
{% endblock %}