{% extends 'myapp/base.html' %}
{% block content %}
<div class="page-center container">
  <br> <img
    src="https://image.freepik.com/free-vector/financial-calendar-financial-planning-monthly-budget-planning-flat-vector-illustration-design-financial-planning-design-mobile-web-graphics_1200-331.jpg"
    style="float:right; width:45%;">
  <br><br><br><br><br><br><br><br><br><br><br>
  <h1>LIFETIME CALENDARS</h1>
  <p>Keep Track Of Your Events...</p>
  <button class="btn btn-success" onclick="window.location='login'">LOGIN</button>
  {%endblock%}