{% extends 'myapp/base.html'%}
{% block content %}
<div class="page-center container">
  <br><br><br><br><br><br>
  <h1>SIGNUP</h1>
  <form method="POST">
    {%csrf_token%}
    {%for field in form%}
    {{field.errors}}
    <label>{{field.label}}</label>
    <input type="{% if 'password' in field.name %}password{% else %}input{% endif %}" name="{{field.name}}"
      class="form-control" />
    {%endfor%}
    <br />
    <button type="submit" class="btn btn-primary">SIGN UP</button>
  </form>
</div>
{% endblock %}